
 <div class="container">
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>
  <div class="contents">
            <ul class="row">
               



<!--</div>    -->


    



 <li class="col-sm-6 col-md-3">contents1</li>
                <li class="col-sm-6 col-md-3">contents2</li>
                <li class="col-sm-6 col-md-3">contents3</li>
                <li class="col-sm-6 col-md-3">contents4</li>
                </ul>
        </div>
      
    
</div>