
 <div class="container">

  <div class="contents">
            <ul class="row">
               



<!--</div>    -->


    



 <li class="col-sm-6 col-md-3">contents1</li>
                <li class="col-sm-6 col-md-3">contents2</li>
                <li class="col-sm-6 col-md-3">contents3</li>
                <li class="col-sm-6 col-md-3">contents4</li>
                </ul>
        </div>
      
    
</div>